.color-menu{
  background-color: #0f5da0;
}

.color-logo-back{
  background-color: white;
  display: inline-block;
  padding: 5px 0 5px 25px;
}

.ul-menu{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.ul-menu a{
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 0 20px;
  display: inline-block;
  line-height: 66px;
  transition: 0.5s;
}

.ul-menu a:hover{
  background-color:#0c4d85;
}

/*.ul-menu li{
  line-height: 66px;
}*/
